.vacancies-header{
    align-items: stretch;
    height: 300px;
    background-color: #0C0D26;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-image: url("https://www.simbrella.com/site/templates/img/vacancies_header_bg.svg");
    background-size: cover;
}